<div id="chatbox">
    <ul id="chatlogs" type="none">
        <li class="other-message chat">
            <p class="message">Hello, how can I help you?</p>
            <sub>other@email.com</sub>
        </li>
        <li class="self-message chat">
            <p class="message">I need some assistance.</p>
            <sub>your@email.com</sub>
        </li>
    </ul>

    <div class="chat-form">
        <textarea id="chat-message-input" placeholder="Type a message..." rows="1"></textarea>
        <button id="send-button">Send</button>
    </div>
</div>