<aside id="navigation-sidebar">
    <ul type="none">
        <li>Home</li>
        <li>Search</li>
        <li>Explore</li>
        <li>Bookmarks</li>
        <li>Favourites</li>
        <li>Profile</li>
    </ul>
</aside>