<link rel="stylesheet" type="text/css" href="<%= assetPath('css/create_password.css')%>">
<div class="form-div">
    <div class="container-div">
        <h1>Create New Password</h1>
        <strong>Please enter your new password and confirm it</strong>
        <br>
        <form id="create-password-form" action="/users/password/update/<%=locals.accessToken%>" method="post">
            <label for="NewPassword">New Password:</label>
            <input type="password" id="NewPassword" name="password" required>
            <label for="ConfirmPassword">Confirm Password:</label>
            <input type="password" id="ConfirmPassword" name="confpassword" required>
            <button type="submit">Submit</button>
        </form>
    </div>
    <small class="back-page"><a href="/users/login">back to Login Page</a></small>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="<%= assetPath('js/create_password.js')%>"></script>
</div>