<link rel="stylesheet" type="text/css" href="/css/reset_password.css">
<div class="form-div">
    <div class="container-div">
        <h1>Reset Account Password</h1>
        <strong>Please enter your <small><b>e-mail</b></small> address</strong>
        <br>
        <form id="forget-password-form" action="/users/create-token" method="post">
            <label for="Email">Email</label>
            <input type="email" id="Email" name="email" required>
            <button type="submit">Submit</button>
        </form>
    </div>
    <small class="back-page"><a href="/users/login">back to Login Page</a></small>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/js/reset_password.js"></script>
</div>