// Body styling
*{

}
body {
    background-color: #f0f8ff; // AliceBlue
    height: 80vh;
    font-family: Arial, sans-serif;
    main{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// Form container styling
.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Container styling
    .container-div {
        background-color: #fff; // White
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1); // Adds a subtle shadow
        max-width: 400px;
        width: 100%;

        // Heading styling
        h1 {
            color: #333; // Dark grey
            margin-bottom: 20px;
            text-align: center;
        }

        // Strong text styling
        strong {
            color: #333; // Dark grey
            margin-bottom: 10px;
            display: block;
            text-align: center;
        }

        // Form styling
        form {
        display: flex;
        flex-direction: column;

            // Label styling
            label {
                font-size: 1.2em;
                color: #333; // Dark grey
                margin-bottom: 5px;
            }

            // Input styling
            input {
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc; // Light grey
                margin-bottom: 20px;
                font-size: 1em;
                width: 100%;
            }

            // Button styling
            button {
                padding: 10px;
                background-color: #007BFF; // Bootstrap primary blue
                color: #fff; // White
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                font-size: 1em;

                &:hover {
                background-color: #0056b3; // Darker blue
                }
            }
        }
    }
}

    // Small text styling
small {
    color: #333; // Dark grey
    text-align: center;
    // margin-top: 20px;

    // Anchor link styling
    a { 
        color: #007BFF; // Bootstrap primary blue
        text-decoration: none;

        &:hover {
        text-decoration: underline;
        }
    }
}
.back-page{
    display: inline;
    margin-top: 20px;
}