body {
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: lightblue;
    color: #333;
}
aside{
    width:20%;
}
main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    #feed-posts {
        width: 100%;
        #create-post {
            form {
                margin: 20px 0;
                display: flex;
                flex-direction: column;

                textarea {
                    width: 100%;
                    margin-bottom: 10px;
                    padding: 10px;
                    resize: vertical;
                }

                input[type="submit"] {
                    background-color: #4CAF50;
                    border: none;
                    color: lightgray;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    width: 100px; // make the button shorter
                }
            }
        }

        .post-container {
            background-color: #e8efec;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }
}
#user-sidebar {
    height: 90vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    h4 {
        color: #333;
        font-size: 1.5em;
    }

    p {
        margin-bottom: 10px;
    }

    a {
        color: #333;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
.new-comment-form {
    input[type="submit"] {
        background-color: #4CAF50; // Change this to your preferred color
        border: none;
        color: white;
        padding: 5px 10px; // Adjust padding to make the button smaller
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px; // Adjust font size to make the button smaller
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px; // Add border radius to make the button stylish
        transition: background-color 0.3s ease; // Add transition for a smooth color change

        &:hover {
            background-color: #45a049; // Change color on hover
        }
    }
}
.like-toggle {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
        text-decoration: none;
        color: #808080;

        i.like-button {
            font-size: 24px; // Adjust this to change the size of the icon
            color: #808080;
            transition: color 0.3s ease;
        }
    }

    small {
        font-size: 14px;
        color: #333333;
    }
}
.liked {
    color: #00008B !important;
}