header {
  display: flex;
  margin: 0px;
  height: 7vh;
  padding: 7px;
  background-color: blue; }
  header h1 {
    margin-top: 0px;
    align-self: flex-start; }
  header ul {
    display: flex;
    gap: 5px;
    align-self: flex-end !important; }
