body {
  background-color: #f0f8ff;
  height: 80vh;
  font-family: Arial, sans-serif; }
  body main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .form-div .container-div {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%; }
    .form-div .container-div h1 {
      color: #333;
      margin-bottom: 20px;
      text-align: center; }
    .form-div .container-div strong {
      color: #333;
      margin-bottom: 10px;
      display: block;
      text-align: center; }
    .form-div .container-div form {
      display: flex;
      flex-direction: column; }
      .form-div .container-div form label {
        font-size: 1.2em;
        color: #333;
        margin-bottom: 5px; }
      .form-div .container-div form input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        font-size: 1em;
        width: 100%; }
      .form-div .container-div form button {
        padding: 10px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 1em; }
        .form-div .container-div form button:hover {
          background-color: #0056b3; }

small {
  color: #333;
  text-align: center; }
  small a {
    color: #007BFF;
    text-decoration: none; }
    small a:hover {
      text-decoration: underline; }

.back-page {
  display: inline;
  margin-top: 20px; }
