body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
  color: #333; }

main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  main #container-body {
    display: flex;
    justify-content: space-between; }
  main #feed-posts {
    width: 66.66%; }
    main #feed-posts #create-post form {
      margin: 20px 0;
      display: flex;
      flex-direction: column; }
      main #feed-posts #create-post form textarea {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        resize: vertical; }
      main #feed-posts #create-post form input[type="submit"] {
        background-color: #4CAF50;
        border: none;
        color: lightgray;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 100px; }
    main #feed-posts .post-container {
      background-color: #e8efec;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  main #friends-suggestion {
    width: 33.33%; }
    main #friends-suggestion h4 {
      color: #333;
      font-size: 1.5em; }
    main #friends-suggestion p {
      margin-bottom: 10px; }
    main #friends-suggestion a {
      color: #333;
      text-decoration: none; }
      main #friends-suggestion a:hover {
        text-decoration: underline; }

.new-comment-form input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; }
  .new-comment-form input[type="submit"]:hover {
    background-color: #45a049; }

.like-toggle {
  display: flex;
  align-items: center;
  gap: 10px; }
  .like-toggle a {
    text-decoration: none; }
    .like-toggle a i.like-button {
      font-size: 24px;
      color: #ccc;
      transition: color 0.3s ease; }
      .like-toggle a i.like-button:hover {
        color: #4CAF50; }
  .like-toggle small {
    font-size: 14px;
    color: #333; }
