<!-- use table for screen adoptation -->
<div>
    <p>Hi <%=accesstoken.user.name%>!!</p>
    <br>
    <br>
    <p>Your Reset password of Sociam is <a href="http://localhost:8000/users/password/create/<%=accesstoken.accessToken%>">here</a></p>
    <br>
    <br>
    <p>Thank You!!</p>
</div>